//-------------------------------------------------------------------------------
  @name: Card
  -------------------------------------------------------------------------------//

// card
.card
  .card__box
    ='\n'
    button.card__link(type="button" class="js-show-popup" data-photo="assets/img/dummy/jabar-logo.png" data-name=data.name data-position=data.position data-content=data.content)
    .card__img
      ='\n'
      img.card__img__el(src="assets/img/dummy/jabar-logo.png" alt="jabar")/
    .card__txt
      h4.card__name
        | !{data.name}
      p.card__position
        | !{data.position}

='\n'
// end-card
