//-------------------------------------------------------------------------------
  @name: Header
  -------------------------------------------------------------------------------//

-
  header = {
    logo: {
      img: 'dispora.png',
      text: 'Dispora Jabar'
    },
    nav: [
      {
        text: 'Profil',
        classActive: 'profile',
        title: 'Tentang Kami',
        menu: [
          {
            to: 'history.html',
            text: 'Sejarah',
            classActive: 'history',
          },
          {
            to: 'vision-mission.html',
            text: 'Visi & Misi',
            classActive: 'vision-mission',
          },
          {
            to: 'tupoksi.html',
            text: 'Tupoksi',
            classActive: 'tupoksi',
          },
          {
            to: 'organization.html',
            text: 'Stuktur Organisasi',
            classActive: 'organization',
          },
          {
            to: 'official.html',
            text: 'Stuktural Pejabat',
            classActive: 'official',
          },
        ]
      },
      {
        to: 'program.html',
        text: 'Program',
        classActive: 'program',
      },
      {
        text: 'Berita',
        classActive: 'news',
        title: 'Berita & Media',
        menu: [
          {
            to: 'media.html',
            text: 'Media',
            classActive: 'media',
          },
          {
            to: 'news.html',
            text: 'Berita',
            classActive: 'news',
          },
        ]
      },
      {
        to: 'ppid.html',
        text: 'PPID',
        classActive: 'ppid',
      },
    ],
  };

//- headerClass: default (primary) | primary | secondary | white
//header
.header(class="header--"+(headerClass ? headerClass : 'primary'))
  .container
    .header__inner
      .header__search
        .header__search__box
          form.header__search__form
            ='\n'
            button(class="header__search__btn" type='button')
              ='\n'
              i.dc-search
            ='\n'
            input(class="header__search__inp" name="search" id="search" placeholder="Telusuri di sini!")
            ='\n'
      .header__left
        ='\n'
        a.header__logo(href="index.html")
          ='\n'
          img(src="assets/img/logo/"+header.logo.img alt=header.logo.text)/
        ='\n'
      .header__right
        .header__nav
          ul.header__list
            each val in header.nav
              li.header__item(class=(val.menu ? 'header__global-nav' : ''))
                ='\n'
                a.header__link(href=val.to class=(siteActive === val.classActive ? 'header__menu__link--active' : ''))
                  | !{val.text}
                ='\n'
                if val.menu
                  .header__global-nav__menu
                    .header__global-nav__content
                      p.header__global-nav__title
                        | !{val.title}
                      ul.header__global-nav__list
                        each valItem, idx in val.menu
                          li.header__global-nav__item
                            ='\n'
                            a.header__global-nav__link(href=valItem.to class=(siteActive === valItem.classActive ? 'header__global-nav__link--active' : ''))
                              | !{valItem.text}
                        ='\n'
        ='\n'
        button.header__icon.js-show-search
          ='\n'
          i(class="dc-search")
        ='\n'
        button.burger-menu.js-mobile-menu(type='button')
          each val in [1, 2, 3]
            ='\n'
            span.burger-menu__bar
          ='\n'
  .header__curtain
  .header__layout
='\n'
//end-header
